<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta name="description" content="" />
    <meta name="author" content="Sergey Pozhilov (GetTemplate.com)" />
    <script src="/menu.js" defer></script>

    <script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());

  gtag('config', 'UA-38509576-8');
</script>


    <title>{{{title}}}</title>
    <script
      src="https://ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"
    ></script>

    {{{auth}}}
    <link rel="shortcut icon" href="/assets/images/gt_favicon.png" />
    <link
      rel="stylesheet"
      href="https://cdn.jsdelivr.net/npm/fullcalendar@5.11.0/main.css"
    />
    <script
      src="https://cdn.jsdelivr.net/npm/fullcalendar@5.11.0/main.js"
    ></script>
    <link
      rel="stylesheet"
      media="screen"
      href="https://fonts.googleapis.com/css?family=Open+Sans:300,400,700"
    />
    <link rel="stylesheet" href="/assets/css/bootstrap.min.css" />
    <link rel="stylesheet" href="/assets/css/font-awesome.min.css" />

    <!-- Custom styles for our template -->
    <link
      rel="stylesheet"
      href="/assets/css/bootstrap-theme.css"
      media="screen"
    />
    <link rel="stylesheet" href="/assets/css/main.css" />
    <style>{{{css}}}</style>
    <link
      rel="stylesheet"
      href="https://cdn.jsdelivr.net/npm/fullcalendar@5.11.0/main.css"
    />
    <script
      src="https://cdn.jsdelivr.net/npm/fullcalendar@5.11.0/main.js"
    ></script>

  </head>

  <body class="home">
    <!-- Fixed navbar -->
    <div class="navbar navbar-inverse navbar-fixed-top headroom">
      <div class="container" id="nav-bar">
        <div class="navbar-header">
          <!-- Button for smallest screens -->
          <button
            type="button"
            class="navbar-toggle"
            data-toggle="collapse"
            data-target=".navbar-collapse"
          ><span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="/"><img
              src="/assets/images/logo.png"
              alt="Progressus HTML5 template"
            /></a>
        </div>
        <div class="navbar-collapse collapse">

        </div><!--/.nav-collapse -->
      </div>
    </div>
    <!-- /.navbar -->

    <header id="head" class="secondary"></header>

    <!-- container -->
    <div class="container">

      <ol class="breadcrumb">
        <li><a href="/">Home</a></li>
        <li class="active" id="nav_title">
          {{nav_title}}
        </li>
      </ol>

      <div class="row" style="margin-top: 30px;">
        <article class="col-md-12 maincontent" id="main">
          <header class="page-header">
            <h2 class="page-title">{{header}}</h2>
          </header>

          {{{main}}}
        </article>

        <!-- /Sidebar -->

      </div>
    </div>
    <!-- /container -->

    <script defer>
      {{{js}}}
    </script>

    <!-- JavaScript libs are placed at the end of the document so the pages load faster -->
    <script
      src="https://netdna.bootstrapcdn.com/bootstrap/3.0.0/js/bootstrap.min.js"
    ></script>
    <script src="/assets/js/headroom.min.js"></script>
    <script src="/assets/js/jQuery.headroom.min.js"></script>
    <script src="/assets/js/template.js"></script>
  </body>
</html>